<ul>
    <li><a href="/about"  style="background-color: lightgray;">go to about</a> </li>
    <li><a href="/contact"style="background-color: lightgray;">go to contact</a> </li>
    <li><a href="/"style="background-color: lightgray;">go to index</a> </li>
</ul>
