<h1 class="display-2">This is the contacts page</h1>

<table class="table">
    <thead style="text-align: center;">
      <tr>
        <th scope="col">no</th>
        <th scope="col">name</th>
        <th scope="col">age</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody style="text-align: center;">
        <% orang.forEach((e, i) => { %>
            <tr>
                <th scope="row"><%= i+1 %></th>
                <td><%= e.nama %></td>
                <td><%= e.umur %></td>
                <td>
                    <button class="btn btn-danger">delete</button>
                    <button class="btn btn-warning">update</button>
                    <button class="btn btn-success">info</button>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>