<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node Web</title>
</head>
<body>
    <h1 style="color: darkgoldenrod; text-align: center;">This is the contacts page</h1>
    <a href="/about">go to about</a> <p>
    <a href="/contact">go to contact</a> </p>
    <a href="/">go to index</a>

    <ul>
        <% orang.forEach(e => { %>
            <li>
                <b><%= e.nama %></b>
                <small><%= e.umur %> tahun</small>
            </li>
        <% }) %>
    </ul>
</body>
</html>