<%- include("layouts/header.ejs") %>
<%- include("layouts/nav.ejs") %>
    
<h1 style="color: darkgoldenrod; text-align: center;">This is the index page</h1>
<h3>hi <%= nama %> </h3>

<%- include("layouts/footer.ejs") %>